<!DOCTYPE html>
<html lang="en">
<head>
    <meta chatset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rixos Case 2 </title>
</head>
<body>

<form method="POST" action="/">
     <p><input type="text" placeholder="USER - Mysql" name="user"></p> <p>
     <p><input type="text" placeholder="PW - Mysql" name="pw"></p>
     <p> <input type="text" placeholder="DBNAME - Mysql" name="dbname"></p>
     <p> <input type="text" placeholder="HOST - Mysql" name="host"></p>
     <p> <input type="submit">
    <p><input type="text" placeholder="USER - POSTGRESQL" name="user_p"></p>
    <p><input type="text" placeholder="PW - POSTGRESQL" name="pw_p"></p>
    <p> <input type="text" placeholder="DBNAME - POSTGRESQL" name="dbname_p"></p>
    <p> <input type="text" placeholder="HOST - POSTGRESQL" name="host_p"></p>
</form>
</body>
</html>